.bgc {
  color: #ffffff;
  background-color: #111822;
}

.title {
  color: #31a3e0;
}

.bg-light-block {
  background-color: rgba(18, 86, 123, 0.13);
}

.btn {
  border-radius: 80px !important;
  border: solid 1.25px;
  padding: 3px 10px !important;
}

.btn-main {
  border-radius: 80px;
  border: solid 1.25px #50eaff;
}


.btn-previous {
  line-height: 30px;
  border: 0px;
  background-color: rgba(56, 125, 226, 0.26);
  color: #50eaff;
}
.btn-previous:hover {
  background-color: #fff;
}
