body {
  font-family: "Noto Sans TC", sans-serif;
}

.bgc {
  color: #ffffff;
  background-color: #111822;
}

.main-title {
  line-height: 56px;
  font-size: 48px;
  color: #00ffa3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title {
  color: #31a3e0;
}

.bg-light-block {
  background-color: rgba(18, 86, 123, 0.13);
}

.btn {
  border-radius: 80px !important;
  border: solid 1.25px;
  padding: 3px 10px !important;
}

.btn-personal,
.btn-model {
  border-radius: 80px;
  border: solid 1.25px #50eaff;
  color: #50eaff; /*50eaff*/
}

.btn-personal {
  width: 125px;
}

.btn-main {
  border-radius: 80px;
  border: solid 1.25px #00ffa3;
  color: #00ffa3; /*50eaff*/
  width: 150px;
}

.btn-main:hover {
  background-color: #00ffa3;
}

.btn-model {
  height: 40px;
}

.btn-personal:hover,
.btn-model:hover {
  background-color: #50eaff;
}

.btn-previous {
  line-height: 30px;
  border: 0px;
  background-color: rgba(56, 125, 226, 0.26);
  color: #50eaff;
}
.btn-previous:hover,
.btn-recoglist:hover {
  background-color: #fff;
}

.border-neon {
  border: solid 2px #50eaff;
}

.border-radius {
  border-radius: 14px;
}

.model-select {
  border: 3px solid #00ade3;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px #961dcf;
  border-radius: 13px;
}

.thumbnail {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 13px;
  width: 300px !important;
}

#dl-intro {
  margin-left: 15rem !important;
  margin-right: 15rem !important;
}

.io-box {
  background-color: #ffffff21;
  border-radius: 8px;
  height: 15vh;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  word-break: break-all; /*必須*/
}

.description {
  background-color: #02020250;
  border-radius: 8px;
  height: 25vh;
  overflow: auto;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  word-break: break-all; /*必須*/
}

.file-label {
  width: 40vw;
  border: 1px solid #00ffa3;
  border-radius: 80px !important;
}

.footer {
  width: 100%;
  height: 10vh;
}

.border_solid {
  border: 1px solid #fff;
}

.expand-full {
  height: 88vh !important;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.btn-recoglist {
  width: 40%;
  line-height: 30px;
  border: 0px;
  background-color: rgba(104, 105, 107, 0.26);
  color: #dbe1e2;
}

.label-modal {
  background-color: #1f2e41;
  top: 20vh;
  position: fixed;
  width: 50%;
  height: 50%;
  z-index: 9999;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 500px #000000;
}

.close-modal:hover {
  cursor: pointer;
}

.loading {
  position: fixed;
  background-color: #000000b0;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
